<link rel="stylesheet" href="/css/header.css">

<div class="header">
    <div class="header_name">
        <h3>My first page</h3>
    </div>
    
    <div class="header_sign">
        <a href="/">Sign in</a>
    </div>
</div>