<link rel="stylesheet" href="/css/sigin.css">
<div class="signin_form">
    <form action="/signin" method="post">
        <h3>Sigin IN</h3>
        <input type="text" placeholder="Email" name="email"required id="signin_email">
        <input type="text" placeholder="Password" name="password" required id="signin_password">
        <input type="submit" id="signin_submit" value="Submit">
    </form>
    <div class='notsignin'>
        <a class="signuplink" id='notsign' href="/signup">Not a Member? Click here to sign up</a>
    </div>
</div>